@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Knight Academy</h1>
    <img src="https://images.pexels.com/photos/1590882/pexels-photo-1590882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Knight Academy!</h2>
        <p>
            Knight Academy is devoted to teaching a wide variety of degrees, all with a chivalrous touch!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Free Knighthood</h2>
        <p>Earn your degree and become a 'Sir' or 'Madam'!</p>
      
    </div>
    <div class="col-md-4">
        <h2>Jousting and Duels!</h2>
        <p>Engage in the school sports of jousting and duels for extra honors!</p>
    </div>
</div>